
body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
}

button {
  border: none;
  background-color: inherit;
  outline: none;
}

// Positioning
.valign-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
